<ion-header>
  <ion-navbar>
    <ion-title>
      Budget
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="royal" (click)="showAddBudget()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="outer-content">

    <ion-list *ngFor="let type of dataProvider.budgetsTotal">

      <ion-list-header>{{type.name}}</ion-list-header>
      <ion-item *ngFor="let item of type.data">
        <span style="text-align:left;">
          {{item.name}}
          <span style="float:right;" [ngClass]="{'negative': item.amount < 0 }">{{item.amount | currency:'USD':true}}</span>
        </span>
      </ion-item>

    </ion-list>

</ion-content>
